<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
</head>
<body>

    <form action="#">
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th colspan="3">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="stuobj : ${stulistobj}">
                    <td th:text="${stuobj.name}"></td>
                    <td th:text="${stuobj.email}"></td>
                    <td><a th:href="@{/editstu/{id}(id=${stuobj.id})}">Edit</a></td>
                    <td><a th:href="@{/deletestu/{id}(id=${stuobj.id})}">Delete</a></td>
                    <td><a th:href="@{/viewstu/{id}(id=${stuobj.id})}">View</a></td>
                </tr>
            </tbody>
        </table><br>
        <a href="/stuform">Click to Register</a>
    </form>

</body>
</html>
